/* Style the body and outer container */
 /*TODO consider replacing this css with Bootstrap, after learning Bootstrap
 TODO I think I want to create 2 CSS Files, one for the front end, leave the admin section as is below (sufficient).
  */
body {
  margin: 0;
  color: #333;
  background-color: #666666;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}
 
#container {
  width: 960px;
  background: #fff;
  margin: 20px auto;
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#homepage_content {
  padding: 20px;
  float: left;
}


#frontpage_content {
  padding: 20px;
  float: left;
}
 
 
/* The logo and footer */
 
#logo {
  display: block;
  width: 300px;
  padding: 0 660px 20px 0;
  border: none;
  /* border-bottom: 1px solid #00a0b0; */
  /* margin-bottom: 40px; */
}
 
#footer {
  /* border-top: 1px solid #00a0b0; */
  margin-top: 40px;
  padding: 20px 0 0 0;
  font-size: .8em;
}
 
 
/* Headings */
 
h1 {
  color: #424242;
  margin-bottom: 30px;
  line-height: 1.2em;
}
 
h2, h2 a {
  color: #424242;
}
 
h2 a {
  text-decoration: none;
}
 
 
/* Page homepage_menu */
 
#homepage_menu {
  list-style: none;
  padding-left: 0;
  width: 75%;
}
 
#homepage_menu li {
  display: inline;
  float: left;
}

#homepage_menu a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
 
/* "You are logged in..." header on admin pages */
 
#adminHeader {
  width: 940px;
  padding: 0 10px;
  border-bottom: 1px solid #00a0b0;
  margin: 0px 0 40px 0;
  font-size: 0.8em;
}

/* "You are logged in..." menu on admin pages */
#leftMenu {
	height: 100%; /* Full-height: remove this if you want "auto" height */ 
    width: 160px; /* Set the width of the sidebar */
    /* position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	padding: 0px;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ffffff; /* Black */
	border: 1px solid #666;
    overflow-x: hidden; /* Disable horizontal scroll */
	float: left;
}

#leftMenu ul li{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14pt;

}
	
#MainAdminContent {
	/*
	 margin-left: 160px; /* Same as the width of the sidebar
     padding: 0px 10px;
     */
}

#product-image {
  /* padding: 20px;
  float: left;
  */
}
 
 
#perm_name {
	width: 150px;
}

#login {
	width: 300px;

}
#password, #password2 {
	width: 300px;
}
 
/* Style the form with a coloured background, along with curved corners and a drop shadow */
 
form {
  margin: 20px auto;
  padding: 40px 20px;
  overflow: auto;
  background: #e6e6ed;
  border: 1px solid #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
  border-radius: 5px;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}
 
 
/* Give form elements consistent margin, padding and line height */
 
form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
 
form ul li {
  list-style-type: none;
  margin: .9em 0 0 0;
  padding: 0;
}
 
form * {
  line-height: 1em;
}
 
 
/* The field labels */
 
label {
  display: block;
  float: left;
  clear: left;
  text-align: right;
  width: 15%;
  padding: .4em 0 0 0;
  margin: .15em .5em 0 0;
}
 
 
/* The fields */
 
input, select, textarea {
  display: block;
  margin: 0;
  padding: .4em;
  width: 80%;
}
 
input, textarea, .date {
  border: 2px solid #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;    
  border-radius: 5px;
  background: #fff;
}
 
input {
  font-size: .9em;
}
 
select {
  padding: 0;
  margin-bottom: 2.5em;
  position: relative;
  top: .7em;
}
 
textarea {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: .9em;
  height: 5em;
  line-height: 1.5em;
}
 
textarea#content {
  font-family: "Courier New", courier, fixed;
}


/*Search form */

#search_bar {


}

#search_form {
 margin: unset;
  padding-bottom: 15px;
  background: #ffffff;
  box-shadow: unset;
  border: unset;
  border-radius: unset;

}

#search_input{
  float: right;
  padding: 6px;
  border: 1px solid #666;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
 
/* Place a border around focused fields */
 
form *:focus {
  border: 2px solid #1e1744;
  outline: none;
}
 
 
/* Display correctly filled-in fields with a green background */
 
input:valid, textarea:valid {
  background: #efe;
}
 
 
/* Submit buttons */
 
.buttons {
  text-align: center;
  margin: 40px 0 0 0;
}
 
input[type="submit"] {
  display: inline;
  margin: 0 20px;
  width: 12em;
  padding: 10px;
  border: 2px solid #1e1744;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
  border-radius: 5px;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  color: #fff;
  background: #363191;
  font-weight: bold;
  -webkit-appearance: none;
}
 
input[type="submit"]:hover, input[type="submit"]:active {
  cursor: pointer;
  background: #363191;
  color: #000000;
}
 
input[type="submit"]:active {
  background: #eee;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
}
 

/* Tables */
 
table {
  width: 100%;
  border-collapse: collapse;
}
 
tr, th, td {
  padding: 10px;
  margin: 0;
  text-align: left;
}
 
table, th {
  border: 1px solid #363191;
}
 
th {
  border-left: none;
  border-right: none;
  background: #363191;
  color: #fff;
  cursor: default;
}
 
tr:nth-child(odd) {
  background: #dfdef9;
}
 
tr:nth-child(even) {
  background: #fff;
}
 
tr:hover {
  background: #ddd;
  cursor: pointer;
}

#categories_checkbox {
  background-color: transparent;
}

.categories_checkbox {
 background-color: transparent;

}
 
/* Status and error boxes */
 
.statusMessage, .errorMessage {
  font-size: .8em;
  padding: .5em;
  margin: 2em 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}
 
.statusMessage {
  background-color: #2b2;
  border: 1px solid #080;
  color: #fff;
}
 
.errorMessage {
  background-color: #f22;
  border: 1px solid #800;
  color: #fff;
}