<!-- This is the main menu section which contains the logo, menu links, and cart icon -->

<!-- This is to conform to Bootstrap CSS -->
<div class="row">

<!-- This is the container for the logo, menu links, and cart -->
<div id="header_wrap">

<!-- This is a container for the logo -->
<div id="header_left">
    <a href="http://localhost/cms5/">Art House</a>
</div>

<!-- This is the container for the menu -->
<div id="header_center">
<?php include "main_front_menu.php"; ?>

</div>

<!-- This is the container for the cart -->

<div id="header_right">

    <?php

    $user_session_id = session_id();

    $product = new Product;
    $item_count = $product->countCartItems($user_session_id);

        echo "<a href=\"" . BASE_URI .  "views/viewFrontPage.php?view=viewCart\">";

        echo "<i class=\"fas fa-shopping-bag\"></i> my cart : ";

        echo "<div id=\"item_count\">";

            if ($item_count[0] > 0) {

                echo $item_count[0] . " item(s)";
            }
    ?>

             </div> <!-- End of item_count -->

            </a>  <!-- End of a link -->

    </div>  <!-- End of header_right -->

</div> <!-- End of header_wrap -->

</div> <!-- End of row -->