<!-- This is the top black panel of the site which contains the phone number, search, and wishlist items -->

<div class="row">   <!-- This is go conform to Bootstrap CSS -->
<div id="page_header"> <!-- This is the container for the entire black panel -->
<div id="top_panel">   <!-- This is the container for the text, top menu, and wishlist -->
<div id = "top_panel_text">
order online or call us at 1-800-000-0000
</div>

<div id="top_panel_center">


</div>

<div id="top_panel_menu">
<div id= "header_search">

    <i class="fas fa-search"></i> search


</div>

    <div id="header_wishlist">
        <i class="fas fa-heart"></i> wishlist
    </div>

</div> <!-- end top_panel_menu -->
</div> <!-- end top_panel -->
</div>  <!-- end page_header -->
</div>  <!-- end row -->